/* ===== PORTFOLIO section ===== */

.portfolio-modal{
    position: fixed;
}

.portfolio-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 19px;
    flex-wrap: wrap;
}

.portfolio-img-card{
    min-width: 300px;
    width: 32%;
}

.portfolio-img-card .img-card {
    position: relative;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.portfolio-img-card .overlay{
    transition: .1s linear;

}

.portfolio-img-card .img-card:hover .overlay{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.portfolio-img-card .info{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    opacity: 0;
    transform: translateY(-20px);
    transition: .5s linear;
}

.portfolio-img-card .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* розтягує фотку по всій ширині блоку */
}

.portfolio-img-card:hover .info{
    transform: translateY(0);
    opacity: 1;
}

.img-card h3{
    font-size: 32px;
}

.img-card span{
    font-size: 22px;
}

.portfolio-modal{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: var(--bg-transparent-color-01);
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
}

.portfolio-modal.active{
    visibility: visible;
    opacity: 1;
    z-index: 11;
}

.portfolio-modal-body{
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: .3s linear;
}

.portfolio-modal.active .portfolio-modal-body{
    /* animation: slideIn 0.9s forwards; */
}

@keyframes slideIn {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
    
}

.portfolio-modal-body h3{
    font-size: 32px;

}

.portfolio-modal-body img {
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 400px; /* або інша висота, яка тобі підходить */
    height: auto;
    object-fit: contain; /* гарантує збереження пропорцій зображення */
    margin: 10px auto; /* центрує по горизонталі */
}


.portfolio-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.portfolio-link {
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    padding-top: 14px;
    margin-top: 20px;
}

.portfolio-link a {
    text-decoration: underline;
    color: var(--text-color); /* або просто #0077cc */
    font-size: 16px;
    transition: color 0.2s ease;
}

.portfolio-link a:hover {
    color: #1d4ed8; /* насичено-синій */
}

.portfolio-title {
    color: #1e293b; /* або заміни на #1e293b (темно-синій/графітовий) */
    font-size: 28px;
    font-weight: 600;
}

.portfolio-category {
    color: #4e3e3e; /* сірий відтінок, Tailwind slate-500 */
    font-size: 16px;
    font-style: italic;
}


  .portfolio-blur-img {
    filter: blur(1px);
    transition: filter 0.3s ease;
  }
  
/* ===== end PORTFOLIO section ===== */