@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
      /*=======Main theme colors=======*/
      --first-color: #0e2431;
      --second-color: #6a59d1;
      --third-color: #777;
  
      /*=======Hover colors=======*/
      --hover-color: #614fd0;
  
      /*=======Background colors=======*/
      --body-bg-color: #fefefe;
      --card-bg-color: #fff;
      --modal-bg-color: #fff;
      --bg-transparent-color: rgba(0, 0, 0, 0.1);
      --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
      --bg-transparent-color-02: rgba(106, 89, 209, 0.1);
      --liner-color: #d7d7d7;
  
      /*=======Color Filter=======*/
      --color-filter: invert(1);
  
      /*=======Box shadow=======*/
      --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  
      /*=======Font size=======*/
      --small-font-size: 14px;
      --normal-font-size: 16px;
  
      /*=======Scroll bar colors=======*/
      --scroll-bar-color: #c5cadf;
      --scroll-thumb-color: #70768a;
      --scroll-thumb-hover-color: #454f6b;
}

.dark-theme {
  /*=======Main theme colors=======*/
  --first-color: #fff;
  --second-color: #6a59d1;
  --third-color: #a9afc3;

  /*=======Background colors=======*/
  --body-bg-color: #0e1b31;
  --card-bg-color: #132347;
  --modal-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --bg-transparent-color-01: rgba(255, 255, 255, 0.1);
  --liner-color: #454f6b;

  /*=======Color Filter=======*/
  --color-filter: invert(0);

  /*=======Scroll bar colors=======*/
  --scroll-bar-color: #c1ceff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

.dark-theme .nav-menu-btn{
  background: url(../img/burger-white.svg) no-repeat center;
}

.dark-theme .nav-menu-btn.close{
  background: url(../img/close-white.svg) no-repeat center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: var(--first-color);
  background: var(--body-bg-color);
  overflow-x: hidden;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
} 

main{
  flex: 1;
}
/* ===== SCROLL BAR ===== */
  ::-webkit-scrollbar{
      width: 10px;
      background: var(--scroll-bar-color);
  }

  ::-webkit-scrollbar-thumb{
      background: var(--scroll-thumb-color);
      border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover{
      border-radius: 20px;
      background: var(--scroll-thumb-hover-color);
  }

.scrollToTop{
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: var(--second-color);
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 10px;
  cursor: pointer;
  z-index: -1;
  box-shadow: var(--box-shadow);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}

.scrollToTop.flex-center{
  justify-content: center;
}

.scrollToTop.active{
  z-index: 10;
  opacity: 1;
  visibility: visible;
  right: 20px;
}

/* === theme button light/dark === */
.them-btn{
  position: fixed;
  z-index: 9;
  right: 0;
  top: 80px;
  background: var(--bg-transparent-color-01);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.them-btn .fa-sun,
.them-btn.sun .fa-moon{
  display: none;
}

.them-btn.sun .fa-sun{
  display: block;
}

@media (max-width:1070px){
  .home-info h1{
      font-size: 45px;
  }

  .home-wrapper{
      flex-direction: column;
      align-items: center;
  }

  .home-img{
      order: 1;
  }

  .home-img img {
      width: 300px !important;
      height: auto;
      display: block;
      margin: 0 auto;
  }

  .home-info{
      order: 2;
  }

  .media-icons{
      order: 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      padding: 0;
      margin: 0;
      justify-items: center;
      column-gap: 60px;
      row-gap: 30px;
  }

  .media-icons .fa-brands{
      font-size: 30px;
  }

  .about-wrapper{
      flex-wrap: wrap;
      justify-content: center;
  }

  .professional-list{
      flex-wrap: wrap;
  }
}

@media (max-width:1070px){
  .home-info h1{
      font-size: 45px;
  }

  .home-wrapper{
      flex-direction: column;
      align-items: center;
  }

  .home-img{
      order: 1;
  }

  .home-img img {
      width: 300px !important;
      height: auto;
      display: block;
      margin: 0 auto;
  }

  .home-info{
      order: 2;
  }

  .media-icons{
      order: 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      padding: 0;
      margin: 0;
      justify-items: center;
      column-gap: 60px;
      row-gap: 30px;
  }

  .media-icons .fa-brands{
      font-size: 30px;
  }

  .about-wrapper{
      flex-wrap: wrap;
      justify-content: center;
  }

  .professional-list{
      flex-wrap: wrap;
  }
}

@media (max-width:980px){

  .nav-menu-btn{
      display: block;
      position: relative;
      z-index: 5;
      background: url(../img/burger.svg) no-repeat center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: .3s linear;
  }

  .nav-menu-btn.close{
      background: url(../img/close.svg) no-repeat center;
  }
  
  .nav{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      align-items: center;
      background: var(--bg-transparent-color-01);
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      transition: .3s linear;
  }

  .nav.active{
      z-index: 3;
      opacity: 1;
      visibility: visible;
  }

  .nav-menu{
      position: relative;
      flex-direction: column;
      max-width: 600px;
      width: 100%;
      margin: 20px;
      padding: 40px;
      background: var(--modal-bg-color);
      border-radius: 10px;
      transform: translateY(-50%);
      transition: .3s linear;
  }

  .nav-menu.active{
      transform: translateY(0%);        
  }

  .nav-menu li{
      text-align: center;
  }

  .footer-wrapper{
      flex-direction: column;
      gap: 15px;
  }

  .about-group{
      text-align: center;
  }

  .get-in-touch .contact-card{
      width: 100%;
      padding: 25px;
  }

  .client-swiper .swiper-slide{
      flex-direction: column;
  }

  .contact-wrapper{
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .hr {
      border: 1px solid var(--liner-color) ;
  }
}

@media (max-width:768px){
      
  .contact-card h2{
      font-size: 40px;
  }

  .contact-card h3{
      font-size: 28px;
  }

  .contact-card h4{
      font-size: 18px;
  }

  .get-in-touch-link {
      margin-top: 0;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  
  .swiper-button-prev,
  .swiper-button-next{
      display: none;
  }

  .second-row{
      flex-direction: column;
      align-items: center;
  }

  .second-row input {
      width: 100%;
  }
  .contact-right p span {
      display: inline;
    }
}

@media (max-width:450px){
  .about-group{
      text-align: left;
  }
  
  .info-group,
  .follow-group{
      align-items: flex-start;
  }

  .info-group ul,
  .follow-group ul{
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
  }
  
  .info-group a{
      padding: 10px 0;
  }

  .inner-title{
      font-size: 48px;
  } 

  .education,
  .work-exp .experience-card{
      min-width: 295px;
  }

  .service-modal-body h3,
  .portfolio-modal-body h3{
      font-size: 25px;
  }

  .service-modal-body,
  .portfolio-modal-body{
      padding: 40px 15px 15px;
  }

  .contact-card h2{
      font-size: 35px;
  }

  .contact-right p{
      font-size: 20px;
  }

  .client-details p{
      font-size: 18px;
  }
}