/* ===== ABOUT section ===== */

.section{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 20px;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-img{
    max-width: 500px;
    width: 100%;
}

.about-img img{
    border-radius: 15px;
}

.about-info{
    max-width: 600px;
    width: 100%;
}

.description h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;    
}

.description h4 span{
    color: var(--second-color);
}

.description p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 15px; /* додаємо простір між текстом і лінією */
    border-bottom: 2px solid var(--liner-color);
}

.professional-list{
    display: flex;
    column-gap: 30px;
}

.professional-list .list-item{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.list-item .number{
    font-size: 40px;
    font-weight: 700;
}

.list-item .text{
    color: var(--third-color);
    font-size: var(--small-font-size);
}

/* ===== end ABOUT section ===== */

@media (max-width:1070px){
    .about-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

}